*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.box{
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px #d7d8e2;
}

/* border bottom */

.single-border-bottom{
    border-bottom: 1px solid #d7d8e2;
}

/* button */

.button{
    padding: 15px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fc5130;
    color: #fc5130;
    margin: 10px !important;
    z-index: 10;
}

.button:hover{
    background-color: #fc5130;
    border: 2px solid #fc5130;
    color: #fff;
    text-decoration: none;
    transition: .5s ease;
}

/* nav */

header{
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 100000;
    box-shadow: 0px 0px 2px 1px #d9dde0;
}

.logo{
    float: left;
    height: auto;
    width: auto;
    margin: 5px 30px;
}

nav{
    height: 60px;
    width: 100%;
}

ul{
    height: 60px;
    width: auto;
    float: right;
    margin-right: 30px;
}

li{
    float: left;
    list-style: none;
}

nav ul li a{
    display: block;
    padding: 7px 20px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    border-top: 2px solid rgba(0,0,0,0);
    margin: 10px 10px;
    color: #2e2e2e;
    font-size: 14px;
}

nav ul li a:hover{
    text-decoration: none;
    border-bottom: 2px solid #fc5130;
    border-top: 2px solid rgba(0,0,0,0);
    color: #fc5130;
    transition: .8s ease;
}

/* headings */

.heading{
    height: auto;
    width: 100%;
}

.heading>h1{
    height: auto;
    width: 100%;
}

.heading p{
    height: auto;
    width: 100%;
    padding-bottom: 30px;
}

/* hero */

.hero-box{
    position: relative;
    height: calc(100vh - 60px);
    width: 100%;
}

.hero-box-content{
    position: relative;
    top: 0px;
    height: calc(100vh - 60px);
    width: 100%;
    background-image: url('..//images/background_one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 60%;
    z-index: 2;
}

.hero-content h1{
    font-size: 42px;
}

.hero-content p{
    font-size: 18px;
}

/* industries */

.industry{
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 10px 1px #d7d8e2;
}

.industry i{
    font-size: 70px;
    text-align: center;
}

/* believe */

.believe-box{
    height: 500px;
    width: 100%;
}

.believe-content{
    top: 0px;
    height: 500px;
    width: 100%;
    background-image: url('..//images/background_two.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    z-index: -1;
}

.believe-content::after{
    position: absolute;
    content: "";
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

/* main slogan */

.slogan-landscape-card{
    height: 500px;
    width: 100%;
    margin: 80px 0px;
}

.slogan-landscape-card img{
    height: 500px;
    width: 100%;
}

.slogan-content{
    padding: 120px 0px;
}

/* saying */

/*  testimonials */

.testimonials-para-card{
    height: 400px;
    width: 100%;
}

.testimonials-image{
    height: 100px;
    width: 100px;
    margin: 20px auto;
}

.testimonials-image img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.testimonials-person{
    font-size: 16px;
}

.testimonials-para-card .para-card-content{
    background-color: #f78160;
}


/* footer */

footer{
    height: 300px;
    width: 100%;
    background-color: #020619;
}
